@media screen and (max-width: 320px) {
  /* line 5, F:/GitHub/Web/got-website/sass/_media.sass */
  .main-nav ul {
    font-size: .9em !important;
  }
}

@media screen and (min-width: 768px) {
  /* line 10, F:/GitHub/Web/got-website/sass/_media.sass */
  #main-logo-area {
    width: 100%;
    text-align: center;
  }
  /* line 14, F:/GitHub/Web/got-website/sass/_media.sass */
  #main-logo-area .main-logo {
    display: inline-block;
    margin: 0 auto;
  }
  /* line 18, F:/GitHub/Web/got-website/sass/_media.sass */
  .index-content {
    display: flex;
  }
  /* line 21, F:/GitHub/Web/got-website/sass/_media.sass */
  .episodes-content {
    display: flex;
    flex-wrap: wrap;
  }
  /* line 27, F:/GitHub/Web/got-website/sass/_media.sass */
  .menu-box .episodes-menu li {
    flex: 1;
  }
  /* line 30, F:/GitHub/Web/got-website/sass/_media.sass */
  .container {
    flex: 1 0 50%;
  }
}

@media screen and (min-width: 1360px) {
  /* line 35, F:/GitHub/Web/got-website/sass/_media.sass */
  .index-content {
    max-width: 80%;
    margin: 0 auto;
  }
  /* line 39, F:/GitHub/Web/got-website/sass/_media.sass */
  .episodes-content {
    max-width: 80%;
    margin: 0 auto;
  }
  /* line 43, F:/GitHub/Web/got-website/sass/_media.sass */
  .menu-box {
    max-width: 80%;
    margin: 0 auto;
  }
  /* line 48, F:/GitHub/Web/got-website/sass/_media.sass */
  .menu-box .episodes-menu li {
    flex: 1;
  }
  /* line 51, F:/GitHub/Web/got-website/sass/_media.sass */
  .container {
    flex: 1 0 33%;
  }
}

/* Imports */
/* Stylesheet */
/* line 7, F:/GitHub/Web/got-website/sass/_menubox.sass */
.menu-box-inner {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 1.2em;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

/* line 16, F:/GitHub/Web/got-website/sass/_menubox.sass */
.menu-box-inner li {
  flex: 1 0 50%;
  box-sizing: border-box;
}

/* line 20, F:/GitHub/Web/got-website/sass/_menubox.sass */
.menu-box-inner li a {
  color: #000;
  text-decoration: none;
  text-align: center;
  display: block;
  padding: 10px;
}

/* line 27, F:/GitHub/Web/got-website/sass/_menubox.sass */
.menu-box-inner li a:hover {
  background-color: #2B768F;
  color: #fff;
}

/* line 5, F:/GitHub/Web/got-website/sass/_header.sass */
#main-logo-area {
  background-color: #000;
  max-height: 350px;
}

/* line 9, F:/GitHub/Web/got-website/sass/_header.sass */
#main-logo-area .main-logo {
  width: 100%;
  height: auto;
  max-width: 970px;
  max-height: 350px;
}

/* line 15, F:/GitHub/Web/got-website/sass/_header.sass */
.main-nav {
  background-color: #264e5b;
}

/* line 18, F:/GitHub/Web/got-website/sass/_header.sass */
.main-nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 1.2em;
  height: 100%;
  display: flex;
}

/* line 26, F:/GitHub/Web/got-website/sass/_header.sass */
.main-nav ul li {
  flex: 1 1 0;
}

/* line 29, F:/GitHub/Web/got-website/sass/_header.sass */
.main-nav ul li a {
  color: #fff;
  text-decoration: none;
  text-align: center;
  display: block;
  padding: 10px;
  border-right: 1px solid #fff;
}

/* line 37, F:/GitHub/Web/got-website/sass/_header.sass */
.main-nav ul li a:hover {
  background-color: #2B768F;
}

/* line 8, F:/GitHub/Web/got-website/sass/_index-content.sass */
.primary-box {
  margin: 1em 1em 0;
  height: inherit;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-top: 2px solid #264e5b;
}

/* line 15, F:/GitHub/Web/got-website/sass/_index-content.sass */
.primary-box .headline {
  margin-top: .5em;
  text-align: center;
  color: #000;
}

/* line 20, F:/GitHub/Web/got-website/sass/_index-content.sass */
.secondary-box {
  border: 2px solid #000;
  margin: 0 1em 1em;
  height: inherit;
  background-color: #f9f9f9;
  border: 1px solid #d9d9d9;
}

/* line 27, F:/GitHub/Web/got-website/sass/_index-content.sass */
.secondary-box .description {
  font-size: 1.2em;
}

/* line 30, F:/GitHub/Web/got-website/sass/_index-content.sass */
.secondary-box .description img {
  width: 90%;
  display: block;
  margin: 15px auto;
  border: 1px solid #264e5b;
  border-radius: 5px;
}

/* line 37, F:/GitHub/Web/got-website/sass/_index-content.sass */
.secondary-box .description p {
  padding-left: 1em;
  padding-right: 1em;
  text-align: left;
}

/* line 42, F:/GitHub/Web/got-website/sass/_index-content.sass */
.secondary-box .source {
  font-size: .8em;
  text-align: right;
  padding-right: 15px;
}

/* line 47, F:/GitHub/Web/got-website/sass/_index-content.sass */
.secondary-box .source a {
  text-decoration: none;
  color: #264e5b;
}

/* line 7, F:/GitHub/Web/got-website/sass/_footer.sass */
.footer {
  margin-top: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  background-color: #264e5b;
  color: #fff;
  height: 50px;
}

/* line 16, F:/GitHub/Web/got-website/sass/_footer.sass */
.footer a {
  color: #fff;
  text-decoration: none;
}

/* line 20, F:/GitHub/Web/got-website/sass/_footer.sass */
.footer a:hover {
  color: #2B768F;
}

/* line 8, F:/GitHub/Web/got-website/sass/_episodes.sass */
.primary-box h2 {
  text-align: center;
  margin: 10px auto;
}

/* line 12, F:/GitHub/Web/got-website/sass/_episodes.sass */
.episode-box {
  display: flex;
}

/* line 15, F:/GitHub/Web/got-website/sass/_episodes.sass */
.episode-box img {
  display: inline-block;
}

/* line 19, F:/GitHub/Web/got-website/sass/_episodes.sass */
.media {
  display: flex;
  align-items: flex-start;
  margin: 10px;
}

/* line 24, F:/GitHub/Web/got-website/sass/_episodes.sass */
.media p {
  margin: auto;
  color: #000;
}

/* line 28, F:/GitHub/Web/got-website/sass/_episodes.sass */
.media a {
  text-decoration: none;
  color: #264e5b;
}

/* line 32, F:/GitHub/Web/got-website/sass/_episodes.sass */
.media a:hover {
  color: #2B768F;
}

/* line 35, F:/GitHub/Web/got-website/sass/_episodes.sass */
.media-figure {
  margin-right: 1em;
}

/* line 38, F:/GitHub/Web/got-website/sass/_episodes.sass */
.media-body {
  flex: 1;
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 1.2em;
  text-decoration: none;
}

/* line 45, F:/GitHub/Web/got-website/sass/_episodes.sass */
.back-to-top {
  text-align: center;
  background-color: #264e5b;
}

/* line 49, F:/GitHub/Web/got-website/sass/_episodes.sass */
.back-to-top a {
  display: inline-block;
  margin: 5px;
  color: #fff;
  text-decoration: none;
}

/* line 55, F:/GitHub/Web/got-website/sass/_episodes.sass */
.back-to-top a:hover {
  text-decoration: underline;
  font-weight: bold;
}

/* line 7, F:/GitHub/Web/got-website/sass/_characters.sass */
.house-sigil {
  width: 45%;
}

/* line 13, F:/GitHub/Web/got-website/sass/main.sass */
html {
  overflow-y: scroll;
}

/* line 16, F:/GitHub/Web/got-website/sass/main.sass */
body {
  background-color: #f0f0f0;
  font-family: 'Roboto Condensed', sans-serif;
}

/* line 20, F:/GitHub/Web/got-website/sass/main.sass */
.wrapper {
  min-height: 100vh;
}

/* line 24, F:/GitHub/Web/got-website/sass/main.sass */
.main-nav .active {
  text-decoration: underline;
}

/*# sourceMappingURL=../css/main.map */