// Imports
@import "variables"


// Stylesheet

.primary-box
   h2
      text-align: center
      margin: 10px auto

.episode-box
   display: flex

   img
      display: inline-block


.media
   display: flex
   align-items: flex-start
   margin: 10px

   p
      margin: auto
      color: #000

   a
      text-decoration: none
      color: $primary-color

      &:hover
         color: $primary-hover

.media-figure
   margin-right: 1em

.media-body
   flex: 1
   margin-top: 0
   margin-bottom: 5px
   font-size: 1.2em
   text-decoration: none

.back-to-top
   text-align: center
   background-color: $primary-color

   a
      display: inline-block
      margin: 5px
      color: #fff
      text-decoration: none

      &:hover
         text-decoration: underline
         font-weight: bold
