// Imports
@import "variables"
@import "mixins"

// Stylesheet

.footer
   margin-top: 50px
   padding-top: 5px
   padding-bottom: 5px
   text-align: center
   background-color: $primary-color
   color: #fff
   height: 50px

   a
      color: #fff
      text-decoration: none

      &:hover
         color: $primary-hover
