// Imports
@import "variables"

// Stylesheet
#main-logo-area
   background-color: #000
   max-height: 350px

   .main-logo
      width: 100%
      height: auto
      max-width: 970px
      max-height: 350px

.main-nav
   background-color: $primary-color

   ul
      list-style-type: none
      padding: 0
      margin: 0
      font-size: 1.2em
      height: 100%
      display: flex

      li
         flex: 1 1 0

         a
            color: #fff
            text-decoration: none
            text-align: center
            display: block
            padding: 10px
            border-right: 1px solid #fff

            &:hover
               background-color: $primary-hover
