// Imports
@import "variables"
@import "mixins"


// Stylesheet

.primary-box
   margin: 1em 1em 0
   height: inherit
   background-color: #fff
   border: 1px solid $border-color
   border-top: 2px solid $primary-color

   .headline
      margin-top: .5em
      text-align: center
      color: #000

.secondary-box
   border: 2px solid #000
   margin: 0 1em 1em
   height: inherit
   background-color: #f9f9f9
   border: 1px solid $border-color

   .description
      font-size: 1.2em

      img
         width: 90%
         display: block
         margin: 15px auto
         border: 1px solid $primary-color
         border-radius: 5px

      p
         padding-left: 1em
         padding-right: 1em
         text-align: left

   .source
      font-size: .8em
      text-align: right
      padding-right: 15px

      a
         text-decoration: none
         color: $primary-color
