// Media queries

@media screen and (max-width: 320px)
   .main-nav
      ul
         font-size: .9em !important


@media screen and (min-width: 768px)
   #main-logo-area
      width: 100%
      text-align: center

      .main-logo
         display: inline-block
         margin: 0 auto

   .index-content
      display: flex

   .episodes-content
      display: flex
      flex-wrap: wrap

   .menu-box
      .episodes-menu
         li
            flex: 1

   .container
      flex: 1 0 50%


@media screen and (min-width: 1360px)
   .index-content
      max-width: 80%
      margin: 0 auto

   .episodes-content
      max-width: 80%
      margin: 0 auto

   .menu-box
      max-width: 80%
      margin: 0 auto

      .episodes-menu
         li
            flex: 1

   .container
      flex: 1 0 33%
