/* Imports */
@import "variables"


/* Stylesheet */

.menu-box-inner
   list-style-type: none
   padding: 0
   margin: 0
   font-size: 1.2em
   height: 100%
   display: flex
   flex-wrap: wrap

   li
      flex: 1 0 50%
      box-sizing: border-box

      a
         color: #000
         text-decoration: none
         text-align: center
         display: block
         padding: 10px

         &:hover
            background-color: $primary-hover
            color: #fff
