// Modules and variables
@import "media"
@import "variables"
@import "menubox"
@import "header"
@import "index-content"
@import "footer"
@import "episodes"
@import "characters"

// General styles

html
   overflow-y: scroll

body
   background-color: #f0f0f0
   font-family: 'Roboto Condensed', sans-serif

.wrapper
   min-height: 100vh

.main-nav
   .active
      text-decoration: underline
